

.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
button,input,select,textarea{font:inherit;margin-top:-70px}optgroup{font-weight:bold}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
.w3-content{max-width:530px;margin:auto}.w3-rest{overflow:hidden}
h1 {
	color: white;
	text-align: center; 
	margin-top: 7px;
	margin-bottom: 20px;
	font-family: "Roboto", sans-serif; 
	font-weight: bold; 
	font-size: 35px;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,.75));
    text-shadow: 2px 2px 4px #000000;
    text-decoration: underline;


}

img {
		 -webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0,.75));

}